.header {
    padding-top: 40px;
    padding-left: 120px;
    padding-right: 120px;
}

.header-nav {
    list-style-type: none;
    gap: 74px;
}

.header-nav-item {
    font-size: 16px;
    color: #333333;

    a {
        color: #333333;

        &:hover {
            color: var(--primary);
        }
    }
}

.header-nav-contact {
    width: 142px;
    padding-top: 14px;
    padding-bottom: 14px;
    background-color: #2C3878;
    border: 1px solid #3C3C3C;
    font-weight: 500;
    font-size: 14px;
    text-align: center;

    a {
      color: var(--white);  
    }

    &:hover {
        background-color: #FFFF00;
    }
    
}