* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #FFFFFF;
  --black: #000000;
  --primary: #FF3F3A;
}

a {
  text-decoration: none;
}

body {
  width: 1440px;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
}

.d-b {
  display: block;
}

.d-f {
  display: flex;
}

.jc-sb {
  justify-content: space-between;
}

.jc-sa {
  justify-content: space-around;
}

.align-center {
  align-items: center;
}

.d-n {
  display: none;
}

.d-b {
  display: block;
}

.pos-r {
  position: relative;
}

.btn-clear {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.cur-p {
  cursor: pointer;
}

.fw-bold {
  font-weight: 700;
}

.fw-medium {
  font-weight: 500;
}

.fw-black {
  font-weight: 900;
}

.page-title {
  font-size: 56px;
  line-height: 140%;
  color: var(--black);
}

.page-desc {
  font-size: 18px;
  line-height: 160%;
  text-align: center;
  color: var(--black);
}

.page-bl-above {
  display: flex;
  align-items: center;
  gap: 17px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-transform: uppercase;
  color: var(--black);

  &::after {
    content: '';
    display: block;
    width: 529px;
    height: 0px;
    border: 2px solid var(--black);
  }
}

.page-bl-title {
  margin-top: 20px;
  font-weight: 600;
  font-size: 36px;
  line-height: 170%;
  color: #333333;
}

